apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-api-service"
  labels:
    app: {{ .Release.Name }}-api
spec:
  type: {{ .Values.controlPlane.components.api.service.type }}
  ports:
    - port: 80
      targetPort: 8000
      name: http
  selector:
    app: {{ .Release.Name }}-api
{{- if and (not .Values.global.openshift) .Values.controlPlane.components.api.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ .Release.Name }}-api-ingress"
  {{- if .Values.controlPlane.components.api.ingress.annotations }}
  annotations:
    {{- toYaml .Values.controlPlane.components.api.ingress.annotations | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.controlPlane.components.api.ingress.className }}
  ingressClassName: {{ .Values.controlPlane.components.api.ingress.className }}
  {{- end }}
  {{- if .Values.controlPlane.components.api.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.controlPlane.components.api.host | quote }}
      {{- if .Values.controlPlane.components.api.ingress.tls.secretName }}
      secretName: {{ .Values.controlPlane.components.api.ingress.tls.secretName }}
      {{- else }}
      secretName: "{{ .Release.Name }}-api-tls"
      {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.controlPlane.components.api.host | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "{{ .Release.Name }}-api-service"
                port:
                  name: http
{{- end }}
{{- if .Values.global.openshift }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: "{{ .Release.Name }}-api-route"
spec:
  host: {{ .Values.controlPlane.components.api.host | quote }}
  tls:
    termination: {{ .Values.controlPlane.components.api.ingress.tls.termination | default "edge" }}
    {{- if .Values.controlPlane.components.api.ingress.tls.certificate }}
    certificate: {{ .Values.controlPlane.components.api.ingress.tls.certificate | quote }}
    {{- end }}
    {{- if .Values.controlPlane.components.api.ingress.tls.key }}
    key: {{ .Values.controlPlane.components.api.ingress.tls.key | quote }}
    {{- end }}
    {{- if .Values.controlPlane.components.api.ingress.tls.caCertificate }}
    caCertificate: {{ .Values.controlPlane.components.api.ingress.tls.caCertificate | quote }}
    {{- end }}
    {{- if .Values.controlPlane.components.api.ingress.tls.destinationCACertificate }}
    destinationCACertificate: {{ .Values.controlPlane.components.api.ingress.tls.destinationCACertificate | quote }}
    {{- end }}
    {{- if .Values.controlPlane.components.api.ingress.tls.insecureEdgeTerminationPolicy }}
    insecureEdgeTerminationPolicy: {{ .Values.controlPlane.components.api.ingress.tls.insecureEdgeTerminationPolicy }}
    {{- end }}
  to:
    kind: Service
    name: "{{ .Release.Name }}-api-service"
    weight: 100
  port:
    targetPort: http
  path: "/"
{{- end }}