apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  # Control Plane JWT Secret
  CONTROL_PLANE_JWT_SECRET: {{ .Values.controlPlane.secrets.controlPlaneJWTSecret | b64enc }}
  
  # OpenAI API Key
  OPENAI_API_KEY: {{ .Values.controlPlane.secrets.openaiApiKey | b64enc }}
  
  # Resend API secrets
  resend-api-key: {{ (.Values.controlPlane.secrets.resendApiKey | default "") | b64enc | quote }}
  resend-alert-sender: {{ (.Values.controlPlane.secrets.resendAlertSender | default "") | b64enc | quote }}
  resend-invite-sender: {{ (.Values.controlPlane.secrets.resendInviteSender | default "") | b64enc | quote }}
  
  # Trustgate JWT Secret
  TRUSTGATE_JWT_SECRET: {{ (.Values.controlPlane.secrets.trustgateJwtSecret | default "") | b64enc }}
  
  # Firewall JWT Secret
  FIREWALL_JWT_SECRET: {{ ((.Values.controlPlane.secrets.firewallJwtSecret | toString) | default "") | b64enc }}
  
  # Model Scanner Secret
  MODEL_SCANNER_SECRET: {{ ((.Values.controlPlane.secrets.modelScannerSecret | toString) | default "") | b64enc }}