{{- if .Values.dataPlane.components.clickhouse.backup.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: clickhouse-backup
spec:
  schedule: "0 * * * *"  # Run every hour at minute 0
  concurrencyPolicy: "Forbid"
  jobTemplate:
    spec:
      template:
        spec:
          {{- if .Values.dataPlane.imagePullSecrets }}
          {{- include "data-plane.imagePullSecrets" (dict "value" .Values.dataPlane.imagePullSecrets) | nindent 10 }}
          {{- end }}
          containers:
            - name: backup
              image: {{ .Values.dataPlane.components.clickhouse.backup.image.repository }}:{{ .Values.dataPlane.components.clickhouse.backup.image.tag }}
              imagePullPolicy: IfNotPresent
              command:
                - /bin/sh
                - -ec
                - |
                  BACKUP_DATE=$(date +%Y-%m-%d-%H-%M-%S)
                  echo "Starting backup..."
                  {{- if eq .Values.dataPlane.components.clickhouse.backup.type "s3" }}
                  curl -X POST "http://clickhouse:8123" \
                    -H "X-ClickHouse-User: {{ .Values.dataPlane.components.clickhouse.auth.username }}" \
                    -H "X-ClickHouse-Key: $CLICKHOUSE_PASSWORD" \
                    -d "BACKUP DATABASE neuraltrust TO S3('https://{{ .Values.dataPlane.components.clickhouse.backup.s3.bucket }}.s3.{{ .Values.dataPlane.components.clickhouse.backup.s3.region }}.amazonaws.com/$BACKUP_DATE/shard-0', '{{ .Values.dataPlane.components.clickhouse.backup.s3.accessKey }}', '{{ .Values.dataPlane.components.clickhouse.backup.s3.secretKey }}'{{- if .Values.dataPlane.components.clickhouse.backup.s3.endpoint }}, '{{ .Values.dataPlane.components.clickhouse.backup.s3.endpoint }}'{{- end }}) ASYNC"
                  {{- else }}
                  curl -X POST "http://clickhouse:8123" \
                    -H "X-ClickHouse-User: {{ .Values.dataPlane.components.clickhouse.auth.username }}" \
                    -H "X-ClickHouse-Key: $CLICKHOUSE_PASSWORD" \
                    -d "BACKUP DATABASE neuraltrust TO S3('https://storage.googleapis.com/{{ .Values.dataPlane.components.clickhouse.backup.gcs.bucket }}/$BACKUP_DATE/shard-0', '{{ .Values.dataPlane.components.clickhouse.backup.gcs.accessKey }}', '{{ .Values.dataPlane.components.clickhouse.backup.gcs.secretKey }}') ASYNC"
                  {{- end }}
                  echo "Backup initiated for $BACKUP_DATE"
              env:
                - name: CLICKHOUSE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: clickhouse
                      key: admin-password
              resources:
                {{- toYaml .Values.dataPlane.components.clickhouse.backup.resources | nindent 16 }}
          restartPolicy: OnFailure
{{- end }}