{{- if and .Values.controlPlane.components.postgresql.installInCluster .Values.controlPlane.components.postgresql.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql-pvc
  labels:
    app: postgresql
  {{- if (.Values.controlPlane.components.postgresql.persistence.preserveOnDelete | default true) }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  {{- if .Values.controlPlane.components.postgresql.persistence.storageClass }}
  storageClassName: {{ .Values.controlPlane.components.postgresql.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.controlPlane.components.postgresql.persistence.size }}
{{- end }} 