{{- if .Values.controlPlane.components.postgresql.installInCluster }}
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  labels:
    app: postgresql
spec:
  type: {{ .Values.controlPlane.components.postgresql.service.type }}
  ports:
  - port: {{ .Values.controlPlane.components.postgresql.service.port }}
    targetPort: postgresql
    protocol: TCP
    name: postgresql
  selector:
    app: postgresql
{{- end }} 